## 2.4.  Анализ рынка недвижимости - 2
1. Сколько в среднем стоят дома, у которых 2 спальни?
2. Какая в среднем общая площадь домов(sqft_lot), у которых стоимость больше 600000?
3. Как много домов коснулся ремонт? Как много домов не было отремонтировано? Используйте поле yr_renovated. Подсчитайте процентное отношение этих величин.
4. Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?
***

Импортируем библиотеку pandas и сокращаем ее название до ps.

In [12]:
import pandas as ps

Читаем файл 'kc_house_data.csv' в формате CSV и сохраняем его в переменной df в виде таблицы данных.

In [13]:
df = ps.read_csv('kc_house_data.csv',encoding='UTF-8')

Используем метод head() для вывода первых нескольких строк таблицы данных.

In [40]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Вычисляем среднюю цену для домов с 2 спальнями.

In [15]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

Вычисляем среднюю общую площадь домов (sqft_lot), у которых стоимость больше 600000.

In [23]:
df[df['price'] > 60000]['sqft_lot'].mean()

15106.967565816869

По вопросу связанному с ремонтом будем использовать поле yr_renovated.

Как много домов коснулся ремонт? Используем метод shape для подсчета количества строк в таблице данных, где значение в столбце 'yr_renovated' не равно 0. Используя индекс в кортеже 0

In [35]:
renovated = df[(df["yr_renovated"] != 0)].shape[0]
renovated

914

Как много домов не было отремонтировано? Используем метод shape для подсчета количества строк в таблице данных, где значение в столбце 'yr_renovated' равно 0.

In [36]:
unrepaired = df[(df["yr_renovated"] == 0)].shape[0]
unrepaired

20699

Подсчитаем процентное отношение этих величин с ремонтом и без.

In [37]:
renovated*100/unrepaired

4.415672254698294

Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

Вычисляем среднюю цену для домов с рейтингом выше 10 и среднюю цену для домов с рейтингом ниже 4.

In [38]:
p10 = df[df['grade'] > 10] ['price'].mean()
p10

1678635.1175298805

In [39]:
p4 = df[df['grade'] < 4] ['price'].mean()
p4

189750.0

Вычисляем разницу между средней ценой для домов с рейтингом выше 10 и средней ценой для домов с рейтингом ниже 4.

In [22]:
p10 - p4

1488885.1175298805