## 2.3.  Анализ рынка недвижимости
Ответьте на несколько вопросов:
1. В каком диапазоне изменяются стоимости недвижимости?
2. Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
3. Как много домов с разными этажами в данных?
4. Насколько хорошие состояния у домов в данных?
5. Найдите года, когда построили первый дом, когда построили последний дом в данных?
***

Импортируем библиотеку pandas и сокращаем ее название до ps

In [11]:
import pandas as ps

Читаем файл 'kc_house_data.csv' в формате CSV и сохраняем его в переменной df в виде таблицы данных.

Аргумент encoding='UTF-8' указывает на кодировку файла.

In [12]:
df = ps.read_csv('kc_house_data.csv',encoding='UTF-8')

Используем метод head() для вывода первых нескольких строк таблицы данных

In [13]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Поскольку столбцов в таблице имеется большое значение, используем для большей наглядности метод info()

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

Чтобы узнать в каком диапазоне изменяются стоимости недвижимости, используем индексацию столбцов и методы min() и max() для нахождения минимального и максимального значений в столбце 'price'

In [14]:
df['price'].min() , df['price'].max()

(75000.0, 7700000.0)

Чтобы узнать какую долю в среднем занимают жилая площадь от всей площади по всем домам, используем индексацию столбцов и методы mean() для нахождения среднего значения в столбце 'sqft_living', а затем делим его на среднее значение в столбце 'sqft_lot' и умножаем на 100, чтобы получить процентное соотношение.

In [15]:
df['sqft_living'].mean() * 100/df['sqft_lot'].mean()

13.76781757959227

Чтобы посчитать как много домов с разными этажами в данных, используем метод value_counts() для подсчета количества значений в столбце 'floors'

In [16]:
df['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

Насколько хорошие состояния у домов в данных, покажет метод value_counts() для подсчета количества значений в столбце 'condition'

In [17]:
df["condition"].value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

Найдём года, когда построили первый дом, когда построили последний дом в данных. Для этого используем индексацию столбцов и методы min() и max() для нахождения самой ранней и самой поздней даты в столбце 'date'

In [18]:
df["date"].min(), df["date"].max()

('20140502T000000', '20150527T000000')